on:
  push:
    branches:
      - master





jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Testing Githup actions'
        run: pwd
        
      - name: 'Testing Githup actions'
        run: echo Kareem

